.Slider{
    position: relative;
    img{
        height: 100vh;
        min-height: 60vh;
        max-height: 100vh;
        max-width: 100%;
        background-size: cover;
        background-position: center;
        object-fit: fill;
    }
    p{
        position: absolute;
        top: 200px;
        left: 200px;
    }
}