.Slider {
  position: relative;
  img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 55vh;
  }
  p {
    position: absolute;
    top: 200px;
    left: 200px;
  }
}
