.MenuItem {
  // border: 1px solid #dadada;
  width: 32%;
  height: 30vh;
  border-radius: 5px;
  text-align: center;
  // overflow: hidden;
  // max-height: 35vh;

  &.large {
    width: 50%;
    height: 30vh;
    margin: 1vh auto;
  }

  &:hover {
    cursor: pointer;

    .background-image {
      transform: scale(1.1);
      transition: transform 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .content {
    background-color: white;
    opacity: 0.7;
    padding: 80px;

    .title {
      font-weight: bold;
      margin: 0 6px 0;
      font-size: 19px;
      color: #4a4a4a;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
    }
  }
}
